# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:


# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,city_weather,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,4,Karratha,AU,77.61,broken clouds,-20.7377,116.8463,ibis Styles Karratha
1,5,Atuona,PF,76.75,few clouds,-9.8000,-139.0333,Villa Enata
2,6,Georgetown,MY,80.53,thunderstorm,5.4112,100.3354,Cititel Penang
3,14,Galle,LK,77.52,overcast clouds,6.0367,80.2170,Amangalla
4,25,Half Moon Bay,US,86.88,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
5,26,Tinaogan,PH,81.05,overcast clouds,9.7791,123.1503,Janno's Enterprises
6,27,Vila Velha,BR,78.75,overcast clouds,-20.3297,-40.2925,Hotel Vitória Palace
7,34,Labuhan,ID,78.62,light rain,-6.8844,112.2051,DoubleFAG
8,37,Hilo,US,87.53,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,44,Tomatlan,MX,88.09,broken clouds,19.9333,-105.2500,El Salvial

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [5]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [7]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [22]:
print(vacation_df['Country'].unique())

['AU' 'PF' 'MY' 'LK' 'US' 'PH' 'BR' 'ID' 'MX' 'VN' 'MR' 'MV' 'EC' 'TO'
 'PR' 'OM' 'CK' 'MZ' 'VE' 'GH' 'GF' 'ML' 'CO' 'KI' 'CV' 'SB' 'SA' 'IN'
 'BB' 'PG' 'GA' 'CI' 'VU' 'SR' 'NC' 'SO' 'NU' 'GY' 'AO' 'KY' 'TZ' 'KM'
 'PW' 'CU' 'BJ' 'GM' 'NG' 'BS' 'GW' 'TC' 'ZA']

In [33]:
# Utilized Pandas sortby() to quickly find cities close together for the customer.
vacation_df.sort_values(by=["Country", "City"])

,city_weather,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
108,405,Soyo,AO,76.33,clear sky,-6.1349,12.3689,Hospedaria ndozi'ame
75,306,Charters Towers,AU,76.51,broken clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
0,4,Karratha,AU,77.61,broken clouds,-20.7377,116.8463,ibis Styles Karratha
45,208,Kununurra,AU,78.78,clear sky,-15.7667,128.7333,Hotel Kununurra
105,389,Maningrida,AU,84.31,scattered clouds,-12.0667,134.2667,Dhukurrdji Lodge
...,...,...,...,...,...,...,...,...
29,141,Qui Nhon,VN,78.12,overcast clouds,13.7667,109.2333,Seagull Hotel
85,332,Rach Gia,VN,76.21,moderate rain,10.0167,105.0833,Nhà Hàng Hòa Giang
10,50,Soc Trang,VN,76.01,moderate rain,9.6033,105.9800,Phu Quy Hotel
69,287,Isangel,VU,80.71,light rain,-19.5500,169.2667,Tanna Lodge
149,563,Upington,ZA,80.98,overcast clouds,-28.4478,21.2561,River Place Manor

In [39]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Charters Towers"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Charters Towers"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Karratha"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Kununurra"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Maningrida"] 
vacation_stop3

,city_weather,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
105,389,Maningrida,AU,84.31,scattered clouds,-12.0667,134.2667,Dhukurrdji Lodge

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [82]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]  

print("Starting Point: %s" %start, "Ending Point: %s" %end, "Stop 1 Point: %s" %stop1, 
      "Stop 2 Point: %s" %stop2, "Stop 3 Point: %s" %stop3)

Starting Point: [-20.1    146.2667] Ending Point: [-20.1    146.2667] Stop 1 Point: [-20.7377 116.8463] Stop 2 Point: [-15.7667 128.7333] Stop 3 Point: [-12.0667 134.2667]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [86]:
# Define a new figure object
fig = gmaps.figure(center = (50, -122), zoom_level = 8)
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [87]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,city_weather,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,306,Charters Towers,AU,76.51,broken clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
1,4,Karratha,AU,77.61,broken clouds,-20.7377,116.8463,ibis Styles Karratha
2,208,Kununurra,AU,78.78,clear sky,-15.7667,128.7333,Hotel Kununurra
3,389,Maningrida,AU,84.31,scattered clouds,-12.0667,134.2667,Dhukurrdji Lodge

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [89]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [90]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))